<div>
  <a routerLink="/listing" routerLinkActive="active">Listing</a> |
  <a routerLink="/" routerLinkActive="active">Home</a> |
  <a routerLink="/emp-list" routerLinkActive="active">Emp-List</a> |
  <a routerLink="/contacts" routerLinkActive="active">Contacts</a> |
  <a routerLink="/emp-detail" routerLinkActive="active">Emp-Detail</a> |
  <a routerLink="/osp" routerLinkActive="active">Order Summary</a> |
  <a routerLink="/ico" routerLinkActive="active">Icons</a> |
  <a routerLink="/paytm" routerLinkActive="active">Paytm</a> |
  <a routerLink="/learn" routerLinkActive="active">learn</a> |
  <a routerLink="/observe" routerLinkActive="active">observe</a> |
  <a routerLink="/signin" routerLinkActive="active">Signin</a> |
  <a routerLink="/checkout" routerLinkActive="active">Checkout</a> |
  <a routerLink="/razorpay" routerLinkActive="active">RazorPay</a> |
</div>
<router-outlet></router-outlet>
